<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Orange Hrm Regression Suite">
    <test  name="Orange Hrm Test">
        <classes>
            <class name="com.orangelogin.TestNG">

            </class>
        </classes>
    </test>
</suite>